DATABASE_URL="postgresql://USER:PASSWORD@YOUR-ENDPOINT-pooler.REGION.aws.neon.tech/DATABASE?sslmode=require&schema=public"
DIRECT_URL="postgresql://USER:PASSWORD@YOUR-ENDPOINT.REGION.aws.neon.tech/DATABASE?sslmode=require&schema=public"
JWT_ACCESS_SECRET="change-me-to-a-long-random-string-min-32-chars"
FRONTEND_URL="http://localhost:3000"
NODE_ENV="development"
PORT="4000"
