DATABASE_URL="postgresql://foodflow:foodflow@db:5432/foodflow?schema=public"
DIRECT_URL="postgresql://foodflow:foodflow@db:5432/foodflow?schema=public"
JWT_ACCESS_SECRET="change-me-to-a-long-random-string-min-32-chars"
SEED_OWNER_EMAIL=""
FRONTEND_URL="http://localhost:3000"
TRUST_PROXY="false"
AUTH_LOGIN_WINDOW_MS="900000"
AUTH_LOGIN_LIMIT="5"
AUTH_REGISTER_WINDOW_MS="3600000"
AUTH_REGISTER_LIMIT="5"
API_GENERAL_WINDOW_MS="60000"
API_GENERAL_LIMIT="600"
API_CHECKOUT_WINDOW_MS="60000"
API_CHECKOUT_LIMIT="60"
API_ADMIN_WINDOW_MS="60000"
API_ADMIN_LIMIT="120"
NODE_ENV="development"
PORT="4000"
